<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cmtMapper">
    <insert id="add" parameterType="domain.CommentVO">
        INSERT INTO comment (rno, writer, content, rating)
        VALUES (#{rno}, #{writer}, #{content}, #{rating})
    </insert>
    
    <select id="list" resultType="domain.CommentVO">
        SELECT * FROM comment WHERE rno = #{rno} ORDER BY cno DESC
    </select>
    
    <delete id="del">
        DELETE FROM comment WHERE cno = #{cno}
    </delete>
</mapper>